@use "../../scss/variables" as var;

<<<<<<< HEAD
.header {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        padding: 2rem 0;
        color: var.$Branco;
    }
    &__greeting-message {
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__logout-btn {
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        background-color: var.$Rosa-avermelhado;
        color: var.$Branco;
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        transition: opacity .3s ease;
        &:hover {
            opacity: .7;
        }
    }
}
=======
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var.$Inter;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: #ffffffgit pull
  
  }
  .header h1 {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .logout-button {
    background-color:  #fb646b; 
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .logout-button:hover {
    background-color:  #fb646b; 
    transform: scale(1.03); 
  }
  
>>>>>>> 978294c61805389f43ef151ddaffb020ac11a90e
